@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
    color: white;
}

.card :hover {
    color: white !important;
}

a :hover {
    color: white !important;
}

// .card {
//     width: 400px;
// }