@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.card {
    color: white;
}

button a {
    color: black;
}

.tasto_show {
    border: 1px solid black;
    padding: 0.5rem;
    background-color: goldenrod;
    width: inherit;
    margin: 0.5rem auto;
    text-transform: uppercase;
}